<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> ONGs </title>
    <!-- Bootstrap(CSS), Jquery (javascripts), etc... -->
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- para que sea index.php pueda importarlo -->
    <!-- <link rel="stylesheet" href="styles/mystyles.css"> -->
    <!-- para que una consulta.php pueda importarlo -->
    <!-- <link rel="stylesheet" href="../styles/mystyles.css"> -->
</head>
